header{
    display: flex;
    height: 50PX 60px;
    background-color: blueviolet;
    justify-content: space-between;
}
.MENU{
    display: flex;
}
.menu img{
    height: 50px;
}
.nav{
    color: black;
}